<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        
    </head>
    <body>
        <h1>Movies Index Page</h1>
        <% for(let i = 0; i < arrayOfMovies.length; i++) { %>
                The <a href="/movies/<%=arrayOfMovies[i]._id%>"><%= arrayOfMovies[i].name%></a> movie.<br>
        <% } %>

        <!-- New --->
        <br><a href="/movies/new"><button type="submit">Create New</button></a>

    
    </body>
</html>