<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New</title>
       
    </head>
    <body>
        <h1>Create New Movie</h1>
        <form action="/movies" method="POST">
            Name:       <input type="text" name="name"><br/>
            Director:   <input type="text" name="director" ><br/>
            Genre:      <input type="text" name="genre"><br/>
            Date:       <input type="date" name="date"><br/>    
            <br><button type="submit">Create Movie</button>        
        </form>
        
    </body>
</html>