<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show</title>
    </head>
    <body>
        <h1>Movie Show Page</h1>
        Name: <%=movie.name%><br>
        Director: <%=movie.director%><br>
        Genre: <%=movie.genre%><br>
        Date: <%=movie.date%><br>
    </body>
</html>